img{
    width: 75%;
    border-radius: 5px;
}

#img-container3 img{
    width: 25%;
}

.img-container {
    display: flex;
    justify-content: center;
}

.computer-type {
    flex-direction: column;
}

.table img {
    width: 100%;
}

.section:has(.references), .section:has(.table) {
    display: block;
}

p {
    margin-top: 15px;
}

li {
    margin-bottom: 10px;
}
