body {
    background-color: white;
    display: flex;
    margin: 0px;
    height: 100vh;
    justify-content: center;
}

.root-container {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
}

a, p, h1 {
    text-align: justify;
    text-decoration: none;
    margin: 0px;
    color: inherit;
}

a:hover{
    color: #10008b;
}

p {
    line-height: 1.5;
}

/* this is important...*/
.section {
    background-color: gray;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: auto;
    padding-bottom: 10px;
}

.nav-bar a{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.portfolio-links, .intro {
    display: block;
    margin-top: auto;
}

.title, .introduction, .discussion {
    display: block;
}

.title h1{
    padding-top: 15px;
}
